body {
  background-color: $white;
  padding: 70px 0 0 0;
}

.main-content {
  background-color: $grey;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include box-shadow(0px 2px 10px 1px $grey-very-light);
}

.container {
  .jumbotron {
    background-color: $slate;
    @include border-top-radius(0px);
  }
}

.sleeve-gallery-row {
  background-color: $slate;
}

@for $i from 1 through 12 {
  .#{$class-slug}-#{$i} {
    padding: 0;
    // width: 100%;
    // display: block;
    // height: 370px;
    // margin: 0 auto;
    // background: url("../../assets/images/sm-sleeve-image-#{$i}.png") no-repeat;
  }
}