body {
  background-color: $white;
  padding: 70px 0 0 0;
}

.main-content {
  background-color: $grey;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include box-shadow(0px 2px 10px 1px $grey-very-light);
}
