.design-arena {
    .drawing-board {
        border-left: 1px solid $grey-very-light;
        border-top: 1px solid $grey-very-light;
    }
}

.sidebar-tools {
    ul {
        list-style-type: none;
    }
}

.drawing-board {
    min-height: 400px;
}

.sleeve-cable {
    border: 1px solid $grey-dark;
    display: inline-block;

    .xcut-top-bot,
    .xcut-bot-top {
        width: 25px;
        height: 100%;
        display: inline-block;
    }

    .top,
    .bot {
        height: 150px;
    }

    .curved {}
}

.sleeve-cable-row {
    width: 100%;
    height: 50%;

    .xcut-top-bot,
    .xcut-bot-top {
    }

    .top,
    .bot {
    }

    .curved {}
}

.sleeve-box {
    position: absolute
    top: 30px;
    left: 30px;

    .xcut-top-bot,
    .xcut-bot-top {
        height: 50px;
    }

    .top,
    .bot {
        height: 150px;
    }

    .curved {}
}
