.navbar-default {
    background-color: $purple-dark;
    .navbar-brand {
        color: $bright-green;
    }
    .navbar-nav {
        &> li {
            &> a {
                color: $bright-green;
                &:focus,
                &:hover {
                    color: $bright-green-darker;
                }
            }
        }
    }
}
